<h3 class='center' style="margin-top:10px">このサイトでは旅行記録の共有、旅行の企画が簡単にできます！</h3><br>
<ul id="slideshow" class="slideshow">
  <li class="showSlide"><%= image_tag('Hokkaido.jpg') %></li>
  <li class="showSlide"><%= image_tag('Kyoto.jpg') %></li>
  <li class="showSlide"><%= image_tag('Okinawa.jpg') %></li>
</ul>
<div class='container'>
  <div class='rowHome'>
    <div class='row'>
      <div class='col-6' >
        <div class="card center-block linkBox postBox mx-auto" style="width: 20rem;">
          <!-- <img class="card-img-top" src="book_open_tate.png" alt="Card image cap"> -->
          <div class="card-body">
            <h4 class="card-title text-center">旅行記録の投稿</h4>
            <p class="card-text text-center">こちらから旅行の投稿ができます</p>
            <%= link_to "", login_path, class:"center-block" %>
          </div>
        </div>
      </div>
      <div class='col-6'>
        <div class="card center-block linkBox planningBox mx-auto" style="width: 20rem;">
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-body">
            <h4 class="card-title text-center">旅行の企画</h4>
            <p class="card-text text-center">こちらから旅行の企画を行えます</p>
            <a href="/planning/top" class="center-block"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to "Sign up now!", signup_path, class: "btn btn-dark mx-auto signUpButton" %>
