<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
        <%= render 'shared/stats' %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="col-md-8">
      <%= form_with(url: search_path, method: :get, local:true ) do |f| %>
        <div class="prefecture" style="width:100px">
          <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name %>
        </div>
        <%= f.submit '検索' %>
      <% end %>
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
</div>
