<h2>地図しおり</h2>

<div id='mapContainer'>
  <div id='planList'>
    <div id='planTitle'>
      <h3>タイトル</h3>
      <%= @plan.title %>
    </div>
    <div id='planProcess'>
    <h4>行程</h4>
    <ol class='planLocation'>
      <li>
        <%= @plan.destination1 %>
      </li>
      <li>
        <%= @plan.destination2 %>
      </li>
    </ol>
  </div>
  </div>

  <div id='item'>
    <input id="address" type="textbox" value="TAM東京">

    <!-- buttonをクリックしたらcodeAddressを実行　-->
    <input type="button" value="移動" onclick="codeAddress()">
    <div id='map'>
    </div>

    <input id="markerAddress" type="textbox" value="東京駅">
    <input type="button" value="追加" onclick="addMarker()">

    <%= form_for(@plan, url:{controller:'plans', action:'update'}) do |f| %>
      <%= f.text_field :destination2 %>
      <%= f.submit %>
    <% end %>
    <%= react_component('mapLink') %>

    <div id='markerList'></div>
  </div>
</div>

<%= javascript_include_tag "gmap.js" %>
