<%= javascript_include_tag 'gmap.js' %>
<h2>地図しおり</h2>

<div id='mapContainer'>
  <div id='planList'>
    <div id='planTitle'>
      <h3>タイトル</h3>
      <%= @plan.title %>
    </div>
    <div id='planProcess'>
    <h4>行程</h4>
    <ol class='planLocation' style="width:250px">
      <%= form_for(@plan, url:{controller:'plans', action:'update'}) do |f| %>
      <li>
        <%= f.text_field :destination1, {id: "dest1"} %>
      </li>
      <li>
        <%= f.text_field :destination2, {id: "dest2"} %>
      </li>
      <li>
        <%= f.text_field :destination3, {id: "dest3"} %>
      </li>
      <li>
        <%= f.text_field :destination4, {id: "dest4"} %>
      </li>
      <li>
        <%= f.text_field :destination5, {id: "dest5"} %>
      </li>
      <li>
        <%= f.text_field :destination6, {id: "dest6"} %>
      </li>
      <li>
        <%= f.text_field :destination7, {id: "dest7"} %>
      </li>
      <li>
        <%= f.text_field :destination8, {id: "dest8"} %>
      </li>
      <li>
        <%= f.text_field :destination9, {id: "dest9"} %>
      </li>
      <li>
        <%= f.text_field :destination10, {id: "dest10"} %>
      </li>
      <%= f.submit %>
      <% end %>
    </ol>


  </div>
  </div>

  <div id='item'>
    <input id="address" type="textbox" placeholder="都道府県を入力してください">
    <!-- buttonをクリックしたらcodeAddressを実行　-->
    <input type="button" value="移動" onclick="codeAddress()">
    <div id='map'>
    </div>

    <input id="markerAddress" type="textbox" >
    <input type="button" value="追加" onclick="addMarker()">

    <!-- <%= react_component('mapLink') %> -->

    <!-- <div id='markerList'></div> -->
  </div>
</div>
