<%= javascript_include_tag 'gmap.js' %>
<div class="plan-info">
  <div class="plan-title">
    <h1>
      <%= @anonymous_user_plan.title %>
    </h1>
  </div>
  <div class="plan-user">
    <h3>名無しさん</h3>
  </div>
  <div>
    <% if @anonymous_user_plan.picture? %>
      <%= image_tag @anonymous_user_plan.picture.url %>
    <% else %>
      <%= image_tag('no_image.png') %>
    <% end %>
  </div>
</div>
<div id="link-wrapper">
  <div class="link-button" id="like-button">
    <a>いいね</a>
  </div>
  <div class="link-button" id="favorite-button">
    <a>お気に入り</a>
  </div>
  <div class="link-button" id="clone-button">
    <%= link_to "クローン", clone_path(id: @anonymous_user_plan.id, is_anonymous: true) %>
  </div>
</div>
<div id='plan-detail'>
  <% if @anonymous_user_plan.destinations.any? %>
    <ol class="destinations">
      <%= render @destinations %>
    </ol>
  <% end %>
</div>
<div id="map">
</div>

<style>
.container{
  padding:0px;
}
</style>
