<li id="destination-<%= destination.id %>">
  <div class="destination-info">
    <% if !destination.time.nil? %>
      <span class="time"><%= destination.time.strftime('%H:%M') %></span>
    <% end %>
    <span class="name"><%= destination.name %></span>
    <div class="photo">
      <% if destination.picture? %>
        <%= image_tag destination.picture.url %>
      <% else %>
        <%= image_tag('no_image.png') %>
      <% end %>
    </div>
  </div>
  <p>
    <%= destination.description %>
  </p>
  <hr/>
</li>

<style>
.destination-info{
  display:flex;
}
.destination-info span{
  line-height:80px;
}
.name{
  color:var(--theme-green);
  font-size:18px;
}
.time{
  margin-right:10px;
  font-size:18px;
}
img{
  width:100px;
  height:80px;
}
.photo{
  margin:0 0 0 auto;
}
</style>
