<%= form_for(@plan, url: yield(:url) ) do |f| %>

  <%= f.label :タイトル %>
  <%= f.text_field :title, class: 'form-control' %>

  <label>行程</label>
  <ol>
    <%= f.fields_for :destinations do |destinations_form| %>
      <li style="display:inline-flex">
        <div class="col-5">
          <%= destinations_form.time_field :time, class: 'form-control' %>
        </div>

        <div class="col-6">
          <%= destinations_form.text_field :name, class: 'form-control' %>
        </div>
      </li>
    <% end %>
  </ol>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  <div class="publish-buttons">
    <label><%= f.radio_button :published, true %>公開する</label>
    <label><%= f.radio_button :published, false %>非公開にする</label>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
