<%= form_for(@plan, url: yield(:url) ) do |f| %>

  <%= f.label :タイトル %>
  <%= f.text_field :title, class: 'form-control' %>

  <label>行程</label>
  <ol style="text-align: center;">
    <%= f.fields_for :destinations do |destinations_form| %>
      <li style="display:inline-flex">
        <div class="col-3">
          <%= destinations_form.time_field :time, class: 'form-control' %>
        </div>

        <div class="col-4">
          <%= destinations_form.text_field :name, class: 'form-control' %>
        </div>

         <!-- id "file"で、fileとdivを紐付けクリック時に連動 -->
      <div id="img_field" onClick="$('#file').click()" >
        <!-- 画像があるときは画像を表示する -->
        <% if destinations.picture.url.present? %>
          <%= image_tag(destinations.picture.url) %>
        <% else %>
          <i class="fas fa-image"></i><i class="fas fa-file-upload add"></i>
        <% end %>
      </div>

        <div class="col-5">
          <%= destinations_form.file_field :picture, style: 'display:none;', id:'file', class: 'form-control', accept: 'image/jpeg,image/gif,image/png' %>
        </div>
      </li>
    <% end %>
  </ol>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });

  $(function(){
  $fileField = $('#file')

  // 選択された画像を取得し表示
  $($fileField).on('change', $fileField, function(e) {
    file = e.target.files[0]
    reader = new FileReader(),
    $preview = $("#img_field");

    reader.onload = (function(file) {
      return function(e) {
        $preview.empty();
        $preview.append($('<img>').attr({
          src: e.target.result,
          width: "100%",
          class: "preview",
          title: file.name
        }));
      };
    })(file);
    reader.readAsDataURL(file);
  });
});
</script>
