<li>
  <div id="plan-abst" class="plan-inline-block">
    <div id="plan-user" class="plan-inline-block"><%= link_to plan.user.name, plan.user %></div>
    <div id="plan-posted-time">
      <%= time_ago_in_words(plan.created_at) %>前
    </div>
    <br>
    <%= link_to plan.title, plan, class:"plan-index-title" %>
    <div id="plan-location">
      <%= plan.prefectures %>
    </div>
  </div>
  <div id="planThumb" class="plan-inline-block">
    <% if plan.picture? %>
      <%= image_tag plan.picture.url(:planThumb) %>
    <% else %>
      <%= image_tag('no_image.png') %>
    <% end %>
  </div>
  <hr/>
</li>
