<%= javascript_include_tag 'gmap.js' %>
<div class="plan-info">
  <div class="plan-title">
    <h1>
      <%= @plan.title %>
    </h1>
  </div>
  <div class="plan-user">
    <%= link_to @plan.user.name, @plan.user %>
  </div>
  <div>
    <% if @plan.picture? %>
      <%= image_tag @plan.picture.url %>
    <% else %>
      <%= image_tag('no_image.png') %>
    <% end %>
  </div>
</div>
<div id="link-wrapper">
  <%= render 'like_button' %>
  <div class="link-button" id="favorite-button">
    <a>お気に入り</a>
  </div>
  <div class="link-button" id="clone-button">
    <% if current_user?(@plan.user) %>
      <%= link_to "編集", edit_plan_path %>
    <% else %>
      <%= link_to "クローン", clone_path(id: @plan.id) %>
    <% end %>
  </div>
</div>
<div id='plan-detail'>
  <% if @plan.destinations.any? %>
    <ol class="destinations">
      <%= render @destinations %>
    </ol>
  <% end %>
</div>
<div id="map">
</div>

<style>
.container{
  padding:0px;
}
</style>
